/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header-image-signin {
    background-image: url('./assets/img/signin.png');
    background-size: cover;
}

.header-image-signup {
    background-image: url('./assets/img/signup.png');
    background-size: cover;
}