<div class="row">
    <div class="col-md-3 mx-auto">

        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="header-image-signin"></div>
                <mat-card-title>Ingreso al Portal</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            <div class="form-group">
                <mat-form-field appearance="standard">
                <mat-label>Rut</mat-label>
               
              <input matInput  type="text"  name="rut" placeholder="Rut" autofocus>
            </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="standard">
                    <mat-label>Contraseña</mat-label>
              <input matInput type="password" name="password" placeholder="Contraseña">
              </mat-form-field> 
            </div>
        </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary">
              Ingresar </button>
            </mat-card-actions>
        </mat-card>
    </div>
  </div>